

.content{text-align: center;background: url(../img/login_bg.jpg) no-repeat center; background-size: 100% 100%;}
.login { width: 444px; display: inline-block; background-color: #fff; margin-top: 96px; margin-bottom: 225px;
overflow: hidden;    box-shadow: 0px 3px 6px #999;}
.login form img{display: inline-block;}
.login .nav-tabs{overflow: hidden; margin-bottom: 42px;border-bottom: 1px solid #dcdcdc; padding-bottom: 20px; 
 margin-top: 20px;}
.login .nav-tabs li{float: left;}
.login .nav-tabs li:nth-child(1){ margin-left: 64px; margin-right: 173px; }
.login .nav-tabs li a{ font-size: 18px;color: #696a6a;}
.login .nav-tabs li:focus a{background-color: transparent; color:#ff0000;}
.login .nav-tabs li.active a{background-color: transparent; color:#ff0000;}
.login .nav-tabs li:hover a{ background-color: transparent; color:#ff0000;}
.content .login  form img{ border-left: 1px solid #dcdcdc;border-top: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc; 
margin-right: -5px;margin-left: 64px;  padding: 1px 2px;}
.content .login  form img:nth-child(3){ padding: 1px 6.5px;}
.content .login  form input{ width: 251px; margin-right: 64px; font-size: 14px; color: #8c8b8b; padding: 11px 8px; 
position: relative; top: -16px; border: 1px solid #dcdcdc; margin-bottom: 12px;}
.content .login  form  input.code{ width:167px; margin-left: 49px; margin-bottom: 0; margin-right: 0; }
#vCode{display: inline-block; width: 114px; height: 43px; margin-left: 10px; margin-right: 50px;}
.content .login  form button{ cursor: pointer; background-color: #ff0000; border: 0;color: #fff; display: block; 
font-size: 18px; font-weight: bold; padding: 12px 140px; margin-left: 64px; margin-top: 14px;}
.content .login  form button:focus{outline: 0;}
.login .pic{ float: left; overflow: hidden;  margin-left: 64px; margin-top: 76px; margin-right: 84px; margin-bottom: 22px;}
.login .pic li{float: left; margin-right: 16px;}
.login span{float: left; margin-top: 87px; margin-right: 16px; font-size: 14px; color: #3f4040;}







